* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  padding: 20px;
}
main {
  display: flex;
flex-direction: row;
}
button {
  padding: 5px 20px;
  margin: 10px;
  color: white;
  background-color: grey;
  border: 1px solid lightgrey;
  border-radius: 5px;
}



